# Požadované
# Následující nastavení jsou nezbytná pro základní funkčnost systému.

# OpenAI API klíč získaný zde: https://platform.openai.com/api-keys
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_API_MODEL=your_openai_api_model_here

# Tavily API Klíč získaný zde: https://app.tavily.com/home
TAVILY_API_KEY=your_tavily_api_key_here

# Upstash Redis URL a Token získané zde: https://console.upstash.com/redis
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token_here

# Mistral AI API Klíč
MISTRAL_API_KEY=your_mistral_api_key_here

# Poznámka: Nahraďte 'your_*_api_key_here' zástupné symboly vašimi skutečnými API klíči